@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
}

header {
    width: 100%;
}

button {
    background: #000;
    color: white;
    padding: 20px;
    border-radius: 15px;
}

input {
    border-radius: 10px;
    height: 50px;
    border: 2px solid gray;
    margin-top: 10px;
}

@media screen and (min-width: 567px) {
    * {}

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body {
        background-color: rgb(255, 255, 255);
    }

    .img2 {
        width: 100%;
    }

    nav {
        flex-grow: inherit;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }

    nav>* {
        margin: 20px;
    }

    .sec1 {
        margin-left: 5%;
        margin-right: 5%;
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 40%px;
        height: 40%px;
    }

    .art1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .img1 {
        width: 80%;
        height: 80%;
    }

    .sec1>* {
        margin: 5px;
        word-wrap: break-word;
        white-space: normal;
    }

    .sec2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .fig {
        width: 70%;
        height: 70%;
    }

    .art2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    footer>* {
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    input {
        border-radius: 10px;
        height: 50px;
        border: 2px solid gray;
        margin-top: 10px;
    }

    form {
        margin-left: 10%;
    }
}

@media screen and (min-width :768px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header>* {
        margin-left: 50px;
        margin-right: 50px;
    }

    article {
        margin-top: 50px;
    }

    article>* {
        margin-left: 50px;
        margin-right: 50px;
    }

    nav>* {
        margin: 20px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    p nav {
        display: flex;
        flex-wrap: wrap;
    }

    .art1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .sec1>* {
        word-wrap: break-word;
        white-space: normal;
    }

    .sec1 {
        align-self: start;
        margin-left: 10%;
        margin-right: 5%;
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 500px;
    }

    .img1 {
        align-self: start;
        width: 40%;
    }

    .art2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    .sec2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .fig {
        width: 25%;
        height: 25%;
    }

    .img2 {
        width: 100%;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .div1 {
        display: flex;
        width: 500px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .div2 {
        margin-left: 10%;
        margin-right: 10%;
    }

    footer>* {
        margin-left: 50px;
        margin-right: 50px;
    }

    figure>p {
        font-size: 1rem;
        color: gray;
    }

    p strong {
        color: black;
    }

    .div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    .last {
        margin-left:20px;
    }
}